@tailwind base;
@tailwind components;
@tailwind utilities;

.match-flag, .staging-flag{
	margin: 0 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.match-team{
	font-size: 1.5rem;
	font-weight: 600;
}

.match-date{
	font-size: 1.2rem;
	font-weight: 600;
}

.match-stage{
	font-size: 1.1rem;
	font-weight: 400;
}

.input-prono{
	width: 100px;
	text-align: center;
}

.staging-table{
	width: 100%;
	text-align: center;
	border: 1px solid #eee;
}

.staging-table-pays{
	width: 35%;
}

.staging-table-pts{
	width: 16%;
}

.staging-table-th{
	width: 7%;
}

.staging-table tr:nth-child(even){
	background-color: #f5f5f5;
}

.staging-head{
	font-weight: 900;
	font-size: 1.3rem;
}

.league-table{
	width: 100%;
	text-align: center;
	border: 1px solid #eee;
}

.league-table tr:nth-child(even){
	background-color: #f5f5f5;
}

.league-table > tbody > tr:nth-child(1){
	background-color: #FFD70060;
	height: 100px;
	font-size: 1.2em;
}

.league-table > tbody > tr:nth-child(2){
	background-color: #C0C0C060;
	height: 90px;
	font-size: 1.2em;
}

.league-table > tbody > tr:nth-child(3){
	background-color: #CD7F3260;
	height: 80px;
	font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.prono-lost{
	color: #ff2424;
	background-color: #ffdddd;
	border-radius: 10px;
}

.prono-won, .prono-exact{
	color: #008600;
	background-color: #ddffdd;
	border-radius: 10px;
}

.active{
	color: rgb(37 99 235);
}

.profile-link{
	text-decoration: underline;
}

.trashbin{
  color: transparent;
  text-shadow: 0 0 0 rgb(223, 0, 15);
}

.comment{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f5f5f5;
}

trix-editor{
	min-height: 200px !important;
}

.trix-content img{
    width: 200px;
}

.comment_body img{
    width: 200px !important;
}

.comments .comment:nth-child(odd){
	background-color: #f5f5f5;
}

@media screen and (max-width: 640px){
	.staging-head{
		font-weight: 900;
		font-size: 1rem;
	}

	.staging-table-pays{
		width: 30%;
	}

	.staging-table-pts{
		width: 14%;
	}

	.staging-table-th{
		width: 8%;
	}

	.staging-table td, th{
		font-size: 0.8em;
	}

	.staging-flag{
		display: none;
	}

	.match-flag{
		max-width: 25px;
	}

	.league-table > tbody > tr:nth-child(1){
		background-color: #FFD70060;
		height: 100px;
		font-size: 1em;
	}

	.league-table > tbody > tr:nth-child(2){
		background-color: #C0C0C060;
		height: 90px;
		font-size: 1em;
	}

	.league-table > tbody > tr:nth-child(3){
		background-color: #CD7F3260;
		height: 80px;
		font-size: 1em;
	}
}


.tournament-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.tournament-headers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  
  h3 {
    width: 25%;
    text-align:center;
    font-weight: 400;
/*    border-right: 1px dashed #ccc;*/
    margin: 0;
    padding:1rem;
  }
}

.tournament-brackets {
  display: flex;
  flex-direction: row; 
  list-style-type: none;
  margin-bottom: 50px;
}

.bracket {
  padding-left: 0;
  display: flex;
  margin: 0;
  padding: 30px 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
/*  border-right: 1px dashed #ccc;*/
  flex: 1;
}

.team-item {
  background-color: #f5f5f5;
  padding: .5rem;
  margin: .5rem 10px;
  position: relative;
  vertical-align: middle;
  line-height: 2;
  text-align: center;
}

.team-item:after {
  content:'';
  border-color: #d1d5db;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.team-item:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  height: 100%;
  top: 50%;
}

.team-item:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  height: 100%;
  top: -50%;
}

.team-item:before {
  content:'';
  border-top: 2px solid #d1d5db;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

.bracket-2 {
  .team-item:nth-of-type(odd):after {
    height: 200%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 200%;
    top: -150%;
  }
}

.bracket-3 {
  .team-item:nth-of-type(odd):after {
    height: 350%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 350%;
    top: -300%;
  }
}

.bracket-4 {
  .team-item:nth-of-type(odd):after {
    height: 700%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 700%;
    top: -650%;
  }
}

.bracket:first-of-type {
  .team-item:before {
    display: none;
  }
}

.bracket-4 {
  .team-item:after {
    display: none;
  }
}

.team-item time {
  display: inline-block;
  background-color: #d1d5db;
  font-size: .8rem;
  padding: 0 .6rem;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #666;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -0.4em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}